.home_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.home_header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  width: 700px;
  transition: all 0.28s linear;
  user-select: none;
}

.home_header_container:hover {
  transform: translate3d(0, -8px, 0);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.home_header_container h1 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

.home_header_container span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.44);
  margin-bottom: 35px;
}

.home_header_btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.home_header_btn_container button {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: bold;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 235ms ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}

.home_header_btn_container button:hover {
  transform: translate3d(0, 2.4px, 0);
}

.home_header_btn_container button:active {
  background-color: lightgray;
  transform: scale(0.94);
}

.home_header_logout_btn {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  border: 1px solid lightgray;
  width: 50px;
  position: relative;
  top: 10px;
  left: -310px;
  cursor: pointer;
}
